body {

}

body #header {
    background-color: #3d3d3d !important;
    padding:0px !important;
    vertical-align: middle !important;
}

#header div {
    vertical-align: middle !important;
}

.info_title, .info_contact {
    display: none;
}

#message-bar {
    min-height: 20px !important;
}

.swagger-ui-wrap {
    width: 960px;
    position: relative;
}

#een-logo {
    background: url(../images/eagle-logo.png) 0px 0px no-repeat;
    background-size: 120px;
    height: 45px;
    width:150px;
    display:inline-block;
    cursor: pointer;
}

#een-title{
    font-weight: bold;
    font-size: 25px;
    color: white;
    font-size: 18px;
    width: auto;
    display:inline-block;
}

#een-contact {
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 33%;
}

#header a {
    color: white !important;
}

#een-session {
    display:inline-block;
    width:auto;
    font-size:14px;
    color:white;
    margin-left: 60px;
}

.info-resource {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display:none;
}

h2.info-resource-heading {
    border-bottom:1px solid #ccc;
    margin-bottom: 10px;
}

.resource.active .info-resource {
    display:block;
}

.info-resource ul {
    list-style: disc !important;
    padding-left: 20px !important;
    color: #333 !important;
}

.info-resource li {
    margin-bottom: 5px;
    line-height: 1.4em !important;
}

.info-resource li > ul {
    margin-top: 5px !important;
}

#api_terms, #api_start {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display:none;
    line-height: 1.4em !important;
}

#api_terms dd {
    margin-left: 20px !important;
}