////////////////////////////////////////////////////////////////////////////////
// <------------------------------------------------------------------------> //
// 				    FONTS
// <------------------------------------------------------------------------> //
////////////////////////////////////////////////////////////////////////////////




.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6, html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 13px; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: bold; }

.content code,
.content pre {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  line-height: 1.5; }

.content code {
  word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

@font-face {
  font-family: 'slate';
  src: url(../fonts/slate.eot?-syv14m);
  src: url(../fonts/slate.eot?#iefix-syv14m) format("embedded-opentype"),
       url(../fonts/slate.woff2?-syv14m) format("woff2"),
       url(../fonts/slate.woff?-syv14m) format("woff"),
       url(../fonts/slate.ttf?-syv14m) format("truetype"),
       url(../fonts/slate.svg?-syv14m#slate) format("svg");
  font-weight: normal;
  font-style: normal; }
.content aside.warning:before,
.content aside.notice:before,
.content aside.success:before,
.tocify-wrapper > .search:before {
  font-family: 'slate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.content aside.warning:before {
  content: "\e600"; }

.content aside.notice:before {
  content: "\e602"; }

.content aside.success:before {
  content: "\e606"; }

.tocify-wrapper > .search:before {
  content: "\e607"; }

